<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pyrite.DatabaseCompiler.Cli.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Pyrite.DatabaseCompiler.Cli.Properties.Settings>
            <setting name="GoldConnStr" serializeAs="String">
                <value>Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\gold\CBM-GOLD-BACKEND\CBM-GOLD-BACKEND.MDB</value>
            </setting>
        </Pyrite.DatabaseCompiler.Cli.Properties.Settings>
    </userSettings>
</configuration>